.background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #d57cff, #ff77fd);
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
  animation: float 18s infinite alternate;
}

.blob.one {
  top: -50px;
  left: -50px;
}

.blob.two {
  bottom: -60px;
  right: -60px;
  animation-delay: 4s;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(80px);
  }
}
